@font-face {
	font-family: 'Arkanoid';
	src: url('/assets/fonts/Arkanoid.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArkanoidSolid';
	src: url('/assets/fonts/Arkanoid-solid.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
