@import "settings";
.dialog {
	background-color: $dialog-bg-color;
	border: solid $dialog-border-thickness $dialog-border-color;
	color: $dialog-fg-color;
	font-family: $dialog-font-familly;
	font-size: $dialog-font-size;
	min-width: $dialog-min-width;
	padding: $dialog-padding;
	position: absolute;
	z-index: $dialog-z-index;
	.dialog-button-box {
		border-top: 1px solid $dialog-border-color;
		padding: .5rem 0 0;
		text-align: center;
		&[data-align='left'] {
			text-align: left;
		}
		&[data-align='right'] {
			text-align: right;
		}
		button {
			display: inline;
			border: 1px solid $dialog-button-border-color;
			background-color: $dialog-button-bg-color;
			color: $dialog-button-fg-color;
			cursor: pointer;
			font-family: $dialog-button-font-familly;
			font-size: $dialog-button-font-size;
			font-weight: bold;
			min-width: 5rem;
			padding: $dialog-button-padding;
			margin: 0 .25rem;
			&:focus {
				outline: 0;
			}
			&:hover {
				background-color: $dialog-button-hover-bg-color;
				color: $dialog-button-hover-fg-color;
				&:active {
					background-color: $dialog-button-active-bg-color;
					border-color: $dialog-button-active-border-color;
				}
				&::before {
					color: inherit;
				}
			}
			&[data-role="cancel"] {
				&::after {
					content: 'Cancel';
				}
			}
			&[data-role="ok"] {
				&::after {
					content: 'Ok';
				}
			}
		}
	}
}
