@import "settings";

$dialog-prompt-input-bg-color: lighten($dialog-bg-color, 25);
$dialog-prompt-input-fg-color: $dialog-bg-color;
$dialog-prompt-border-color: $dialog-border-color;
$dialog-prompt-font-familly: $dialog-font-familly;
$dialog-prompt-font-size: $dialog-font-size;
$dialog-prompt-height: 1.5rem;
$dialog-prompt-margin: 1rem;

.dialog {
	background-color: $dialog-bg-color;
	border: solid $dialog-border-thickness $dialog-border-color;
	color: $dialog-fg-color;
	font-family: $dialog-font-familly;
	font-size: $dialog-font-size;
	min-width: $dialog-min-width;
	padding: $dialog-padding;
	position: absolute;
	z-index: $dialog-z-index;
	.dialog-button-box {
		border-top: 1px solid $dialog-border-color;
		padding: .5rem 0 0;
		text-align: center;
		&[data-align='left'] {
			text-align: left;
		}
		&[data-align='right'] {
			text-align: right;
		}
		button {
			display: inline;
			min-width: 5rem;
		}
	}
	&.prompt {
		input[type="text"] {
			background-color: $dialog-prompt-input-bg-color;
			box-sizing: border-box;
			border: 2px solid $dialog-prompt-border-color;
			color: $dialog-prompt-input-fg-color;
			font-family: $dialog-prompt-font-familly;
			font-size: $dialog-prompt-font-size;
			height: $dialog-prompt-height;
			width: 100%;
			margin: 0;
			margin-bottom: $dialog-prompt-margin;
			&::-webkit-input-placeholder {
				color: $dialog-bg-color;
			}
			&::-moz-placeholder {
				color: $dialog-bg-color;
			}
			&:-ms-input-placeholder {
				color: $dialog-bg-color;
			}
			&:-moz-placeholder {
				color: $dialog-bg-color;
			}
		}
	}
}
