@import "dialog";

$palette-border-color: lighten(#0d1b28, 25%);
$brick-colors: (
	"gray":   hsl(0, 0%, 62%),
	"gold":   hsl(58, 65%, 43%),
	"white":  hsl(0, 0%, 95%),
	"orange": hsl(35, 78%, 52%),
	"cyan":   hsl(181, 98%, 79%),
	"green":  hsl(93, 99%, 60%),
	"red":    hsl(7, 79%, 47%),
	"blue":   hsl(230, 96%, 64%),
	"purple": hsl(292, 97%, 54%),
	"yellow": hsl(61, 100%, 62%)
);

@mixin bricksBgColor {
	@each $name, $value in $brick-colors {
		&[for="#{$name}"] {
			background-color: $value;
			&:hover {
				background-color: darken($value, 15);
				border: 2px solid $palette-border-color;
				box-sizing: border-box;
			}
		}
	}
}

#palette {
	position: absolute;
	left: -96px;
	border: 4px solid $palette-border-color;
	color: white;
	margin: 0 auto;
	width: 80px;
	text-align: center;
	ul {
		list-style-type: none;
		margin: 4px auto;
		padding: 0;
		li {
			margin: 2px;
			display: inline-block;
			height: 24px;
			width: 32px;
		}
	}
	#bricks {
		li {
			input[type="radio"]:not(:checked),
			input[type="radio"]:checked {
				position: absolute;
				left: -9999px;
			}
			input[type="radio"]:not(:checked) + label,
			input[type="radio"]:checked + label {
				position: relative;
				cursor: pointer;
				display: block;
				height: 100%;
				width: 100%;
				@include bricksBgColor;
			}
			input[type="radio"]:checked + label {
				border: 2px solid $palette-border-color;
				box-sizing: border-box;
			}
		}
	}
	#actions {
		li {
			button {
				border: 1px solid $palette-border-color;
				cursor: pointer;
				font-family: FontAwesome;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				&[data-role="export"]::before {
					content: '\f019';
				}
				&[data-role="import"]::before {
					content: '\f093';
				}
				&[data-role="play"]::before {
					content: '\f144';
				}
			}
		}
	}
}

#screen {
	display: block;
	border: 4px solid lighten(#0d1b28, 25%);
	margin: 0 auto;
	cursor: crosshair;
	&[data-overlap="true"] {
		cursor: not-allowed;
	}
}
