@import "settings";
@import "arkanoid-fonts";

html {
	font-size: 14pt;
}
body {
	background-color: $background-color;
}
h1 {
	color: $h1-color;
	font-size: 4rem;
	font-family: Arkanoid;
	text-align: center;
}
#screen {
	display: block;
	margin: 0 auto;
}
