@import "settings";
@import "arkanoid-fonts";

html {
	font-family: $font-family;
	font-size: 14pt;
}
body {
	background-color: $body-bg-color;
	color: $body-fg-color;
	margin: 0;
}
h1 {
	color: $h1-color;
	font-size: 4rem;
	font-family: Arkanoid;
	text-align: center;
}
h2 {
	color: $h2-color;
	font-size: 2rem;
}
h3 {
	color: $h3-color;
	font-size: 1.25rem;
}
#screen {
	display: block;
	margin: 0 auto;
}
#lifes {
	margin: 0 auto;
	width: 448px;
	.life {
		display: inline-block;
		height: 14px;
		width: 42px;
		margin-left: 16px;
		margin-top: 8px;
	}
}
